.subtitle {
  color: #666;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 32px 0 0 0;
}

.goals-title h1 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  margin-top: 1rem;
}

.goals-title p {
  color: #4b5563;
  font-size: 0.875rem;
}

.btn {
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  font-size: 14px;
  height: 40px;
}

.btn.primary {
  background: #c2410c;
  color: #fff;
}

.button-group {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-top: 1rem;
}

.button-group .btn.primary {
  flex: 2;
}

.btn.primary:hover {
  background: #a73306;
}

.btn.outline {
  background: #fff;
  border: 1px solid #ccc;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(230px, 1fr));
  gap: 20px;
}

.form-grid label {
  display: block;
  margin-bottom: 12px;
}

.form-grid input {
  width: 80%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  border: none;
  background-color: #f3f3f5;
}

.form-grid select {
  width: 83%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  border: none;
  background-color: #f3f3f5;
}

.btn-group {
  margin-top: 20px;
  display: flex;
  gap: 15px;
}

.card {
  background: white;
  padding: 10px 20px;
  border-radius: 8px;
  border: 1px solid #eee;
}

.card:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
}

.goal-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.goal-icon {
  width: 48px;
  height: 48px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  margin-right: 12px;
}

.bg-orange {
  background: #fff3e6;
}

.active-goal,
.completed-goal {
  font-size: 16px;
  font-weight: normal;
  margin-top: 2rem;
}

.goal-info {
  flex: 1;
}

.goal-meta {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.badge {
  padding: 4px 8px;
  background: #eee;
  border-radius: 8px;
  font-size: 13px;
}

.achieved {
  background: #2c8f2c;
  color: white;
}

.goal-subheader {
  display: flex;
  gap: 16px;
  align-items: center;
}

.goal-subheader p {
  margin-top: 0;
}

.target-icon {
  background-color: #fffbea;
  color: #c2410c;
  border-radius: 8px;
  padding: 12px;
  display: inline-block;
  font-size: 20px;
}

.sub-container {
  padding-top: 3rem;
}

.action-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 16px;
}

.actions button:hover {
  color: #c2410c;
}

.remaining-text {
  font-size: 12px;
  color: #6b7280;
}

.icon-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.progress-bar {
  height: 10px;
  background: #eee;
  border-radius: 6px;
  margin: 8px 0;
}

.progress-header {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #4b5563;
}

.progress-bar {
  background-color: #e5e7eb;
  border-radius: 6px;
  height: 12px;
  width: 100%;
  overflow: hidden;
}

.progress-fill {
  height: 100%;
  background: #c2410c;
  border-radius: 6px;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.title {
  margin-bottom: 6px;
}

.muted {
  color: #777;
  font-size: 14px;
}

.completed-item {
  display: flex;
  align-items: center;
  gap: 15px;
  background: #e9f8e9;
  padding: 15px;
  border-radius: 8px;
}

.completed-icon {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: #d8f2d8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-header {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.modal-desc {
  margin-top: 0;
  color: #717182;
  font-size: 14px;
}

.edit_title {
  display: block;
}

#edit-title {
  display: block;
  width: 90%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  border: none;
  background-color: #f3f3f5;
  margin-top: 8px;
}

.error-msg {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

.check {
  color: #00a63d;
  padding: 4px;
  border-radius: 50%;
  border: 2px solid #00a63d;
  font-size: 12px;
  background-color: #dcfce6;
}

.completed-container {
  display: flex;
  align-items: baseline;
  gap: 15px;
}

.completed-card {
  background-color: #f0fdf4;
  margin-top: 16px;
}

.completed-card-parent {
  border: 1px solid rgb(236, 236, 236);
  border-radius: 8px;
  padding: 2rem;
  background-color: white;
  margin-top: 24px;
}

.flash-container {
  margin: 20px;
  width: 90%;
  max-width: 600px;
}
